body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-header h2 {
    margin: 0;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Button uchun maxsus to‘q yashil */
.btn-update-green.btn,
.btn-update-green.btn-sm,
.btn-update-green.btn-success {
    background-color: #025f02 !important;  /* to‘q yashil */
    border-color: #004d00 !important;
    color: #fff !important;                /* matn oq bo‘lsin */
}

/* Hover va focus */
.btn-update-green.btn:hover,
.btn-update-green.btn:focus,
.btn-update-green.btn:active {
    background-color: #004d00 !important;  /* hover paytida to‘qroq */
    border-color: #004d00 !important;
    color: #fff !important;
}

