{%load static%}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" href="{%static 'images/favicon.png'%}">
    <title>Dashboard - Pharmacy Manegment | DashLite Admin Template</title>
    <link rel="stylesheet" href="{%static 'css/dashlite.css'%}">
    <link id="skin-default" rel="stylesheet" href="{%static 'css/theme.css'%}">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-91615293-4');</script>
</head>

<body class="nk-body ui-rounder npc-default has-sidebar ">
    <div class="nk-app-root">
        <div class="nk-sidebar" data-content="sidebarMenu">
            <div class="nk-sidebar-main">
                <div class="nk-sidebar-inner" data-simplebar="">
                    <div class="nk-menu-content menu-active" data-content="navPharmacy">
                        {%if user.role == 'admin'%}
                            <h5 class="title">Rahbar paneli</h5>
                        {%endif%}
                        {%if user.role == 'staff'%}
                            <h5 class="title">Hodim paneli</h5>
                        {%endif%}
                        {%if user.role == 'doctor'%}
                            <h5 class="title">Shifokor paneli</h5>
                        {%endif%}
                        <ul class="nk-menu">
                            {% if user.role == 'admin' %}
                            <li class="nk-menu-item"><a href="{%url 'adminview'%}" class="nk-menu-link"><span
                                        class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span><span
                                        class="nk-menu-text">Bosh sahifa</span></a></li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                        class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span><span
                                        class="nk-menu-text">Hodimlar</span></a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="{%url 'add_staff'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Hodim Qo'shish</span></a></li>
                                    <li class="nk-menu-item"><a href="{%url 'employee_list'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Hodimlar Ro'yxati</span></a>
                                    </li>
                                    {% comment %} <li class="nk-menu-item"><a href="/demo7/pharmacy/customer-ledger.html"
                                            class="nk-menu-link"><span class="nk-menu-text">Customer Ledger</span></a>
                                    </li> {% endcomment %}
                                </ul>
                            </li>{% endif %}
                            {% if user.role == 'staff' %}
                            <li class="nk-menu-item"><a href="{%url 'employee'%}" class="nk-menu-link"><span
                                        class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span><span
                                        class="nk-menu-text">Bosh sahifa</span></a></li>
                            {%endif%}
                            {% if user.role == 'doctor' %}
                            <li class="nk-menu-item"><a href="{%url 'doctor'%}" class="nk-menu-link"><span
                                        class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span><span
                                        class="nk-menu-text">Bosh sahifa</span></a></li>
                            {%endif%}
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                        class="nk-menu-icon"><em class="icon ni ni-capsule-fill"></em></span><span
                                        class="nk-menu-text">Sklad </span></a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="{%url 'addmedicine'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Dori Qo'shish</span></a></li>
                                    <li class="nk-menu-item"><a href="{%url 'listmedicine'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Dorilar Ro'yxati</span></a>
                                    </li>
                                    <li class="nk-menu-item"><a href="{%url 'givemedicine'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Dori Chiqarish</span></a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.role == 'doctor' or user.role == 'admin'%}
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                        class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span><span
                                        class="nk-menu-text">Bemorlar </span></a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="{%url 'addpatient'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Bemor Qo'shish</span></a></li>
                                    <li class="nk-menu-item"><a href="{%url 'list_patients'%}"
                                            class="nk-menu-link"><span class="nk-menu-text">Bemorlar Ro'yxati</span></a>
                                    </li>
                                </ul>
                            </li>
                            {%endif%}
                            <li class="nk-menu-item"><a href="{%url 'logout'%}" class="nk-menu-link"><span
                                    class="nk-menu-icon"><em class="icon ni ni-signout"></em></span><span
                                        class="nk-menu-text"> Chiqish</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-main ">
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed nk-header-fluid">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1"><a href="#"
                                    class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                        class="icon ni ni-menu"></em></a></div>
                            <div class="nk-header-brand d-xl-none"><a href="/demo7/index.html" class="logo-link"><img
                                        class="logo-light logo-img" src="images/logo.png" srcset="images/logo2x.png 2x"
                                        alt="logo"><img class="logo-dark logo-img" src="images/logo-dark.png"
                                        srcset="images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle mr-n1"
                                            data-bs-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                            <div class="dropdown-inner user-card-wrap bg-lighter">
                                                <div class="user-card">
                                                    <div class="user-avatar"><span>
                                                        {{ user.first_name|default:''|slice:":1" }}{{ user.last_name|default:''|slice:":1" }}
                                                    </span></div>
                                                    <div class="user-info"><span class="lead-text">{{user.first_name}} {{user.last_name}}</span><span
                                                            class="sub-text">{{user.email}}</span></div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="/demo7/pharmacy/general-settings.html"><em
                                                                class="icon ni ni-setting-alt"></em><span>Profil
                                                                O'zgartirish</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li>
                                                        <a href="{% url 'logout' %}">
                                                            <em class="icon ni ni-signout"></em>
                                                            <span>Chiqish</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {%block content%}

                {%endblock content%}
            </div>
        </div>
    </div>

    <script src="{%static 'js/bundle.js'%}"></script>
    <script src="{%static 'js/scripts.js'%}"></script>
    <script src="{%static 'js/demo-settings.js'%}"></script>
    <script src="{%static 'js/gd-pharmacy.js'%}"></script>
</body>

</html>